li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a {
    color: rgb(56, 56, 56);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: rgb(35, 75, 88);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

li div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: solid white 1px;
    transition: 0.2s ease-in-out;
    /* background: rgb(206, 249, 242);
    background: linear-gradient( 90deg, rgba(206, 249, 242, 1) 0%, rgba(34, 146, 164, 1) 81%); */
}

.item {
    border: none;
}

ul:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: brgb(35, 75, 88) lack;
    transition: 0.5s ease-in-out;
}

.colorfulItem {
    background-color: rgba(34, 146, 164, 1);
    color: white;
    width: 250px;
}

.colorfulItem a {
    color: white;
}

.colorfulItem:hover {
    width: 250px;
    background-color: rgb(57, 190, 210);
}

.logoCont {
    position: relative;
    width: 210px;
    top: -20%;
    border-radius: 0px 0px 30px 30px;
    height: 100px;
    overflow: hidden;
}

.logo {
    width: auto;
    height: auto;
    margin-top: 40px;
    border: none;
}

.logo:hover {
    width: auto;
    height: auto;
    border: none;
}

.logo img {
    width: 200px;
    height: auto;
    border: none;
}

.emptySpace {
    border: none;
}