.Stats {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #EEE;
}

.dbox {
    display: flex;
    width: 70%;
    margin: auto;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.waves {
    width: 100%;
    height: 100%;
}


/* 
.ocean {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.dbox {
    display: flex;
    width: 70%;
    height: 1000px;
    justify-content: space-around;
    align-items: center;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -198px;
    animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 15s ease -1.25s infinite;
    opacity: 1;
}

.wave:nth-of-type(3) {
    top: -198px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 8s ease -1.25s infinite;
    opacity: 1;
}

.wave:nth-of-type(4) {
    top: -198px;
    animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 10s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
} */